* {
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
h1 {

}

/* main navigation ******************/
.customNav {
  position: fixed;
  width: 100%;
  height: 100px;
  background: url("../images/transparency.png");
  /* background-color: rgba(85, 85, 85, 0.7); */
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 30px;
  width: 200px;
}
.nav-item {
  margin: 0px 30px;
}



/* jumbotron ******************/

.jumbotron {
    background-image: url(../images/placeholder-1100x600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 60vh;
  }
  .hero-container {
    margin-top: 200px;
    margin-left: 100px;
    flex-direction: column;
    text-align: left;
    color: white;
    width: 40%;
  }




#layer-1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
#carousel-home {
  /* need to add rules for square carousel */
}
.carousel{
  /* height:100%; */
  /* max-width: 300px !important; */
}


/* homepage icons middle ******************/

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#layer-2 {
  border-radius: 0px !important;
  border: 0px !important;
}
.card-img {
  border-radius: 0px !important;
  border: 0px !important;
}

#layer2text {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

/* homepage bios ******************/

#layer-3 > h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
}

/* Footer ******************/

#footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer-links {
  color: white;
  margin-left: 70px;
  /* border: 1px red solid; */
}

.social-links {
  display: inline-block;
  list-style-type: none;
  padding: 30px;
  color:white;
  text-decoration:none;
  margin-left: 10px;
  /* border: 1px yellow solid; */
}

.logo-links {
  width: 200px;
}

.footer-contact {
  color: white;
  margin-right: 70px;
  /* border: 1px blue solid; */
}
.contact-link {
  display: inline-block;
  list-style-type: none;
  padding: 30px;
  color:white;
  text-decoration:none;
  margin-left: 10px;
  /* border: 1px green solid; */
}

.back-top {
  padding:40px;
}

.back-top  img {
  transform: rotate(180deg);
}