* {
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
h1 {
}
.btn {
  background-color: #2A6E94;
  color: white;
  border: none;
}

/* main navigation ******************/
.customNav {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100;
  margin-top: -100px;
  background-color: #272B2D;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 30px;
  width: 200px;
}
.nav-item {
  margin: 0px 30px;
}



/* jumbotron ******************/

.jumbotron {
    background-image: url(../images/Premier-Mortgage-Home-Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 60vh;
    margin-top: 100px;
  }
  .hero-container {
    margin-top: 50px;
    margin-left: 60px;
    flex-direction: column;
    text-align: left;
    color: #272B2D;
    /* width: 40%; */
  }
  .display-4 {
    font-size: 3.5rem;
    font-weight: 600;
    /* line-height: 4rem; */
    color: #272B2D;
  }
  .lead {
    font-size: 1.75rem;
    font-weight: 400;
    /* letter-spacing: .1rem; */
    margin-bottom: 30px;
    color: #272B2D;
  }




#layer-1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
#carousel-home {
  /* need to add rules for square carousel */
}
.carousel{
  /* height:100%; */
  /* max-width: 300px !important; */
}


/* homepage icons middle ******************/

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#layer-2 {
  border-radius: 0px !important;
  border: 0px !important;
}
.card-img {
  border-radius: 0px !important;
  border: 0px !important;
}

#layer2text {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

/* homepage bios ******************/

#layer-3 > h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 30px;
}

/* Footer ******************/

#footer {
  background-color: #272B2D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: auto;
  margin-top: 50px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.social-icon {
  /* padding: 20px; */
  margin-left: 10px;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.footer-btn {
  color: white;
  margin-left: 30px;
  margin-right: 10px;
}

.back-top {
  padding:40px;
}

.back-top  img {
  transform: rotate(180deg);
}


/* infographic *****************/

#infographic {
  background-color: azure;
  padding: 20px;
}

.grid-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  text-align: center;
  font-size: .8rem;
  font-weight: 800;
  color: black;
  line-height: .8rem;
  /* justify-content: center; */
  grid-template-areas:
    ". . . . five"
    ". . . four ."
    ". . . four ."
    ". . . four ."
    ". . three four ."
    ". . three . ."
    ". two three . ."
    ". two . . ."
    "one two . . ."
    "one . . . ."
    "one . . . .";
    border-top: .5px gray solid;
    
}

.five { 
  grid-area: five;
  background-color: #2A6E94;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 50px;

}

.four { 
  grid-area: four; 
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three { 
  grid-area: three; 
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two { 
  grid-area: two; 
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.one { 
  grid-area: one; 
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container-2 {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  text-align: center;
  font-size: .8rem;
  font-weight: 800;
  color: black;
  line-height: .8rem;  
  grid-template-areas:
    ". . . . five"
    ". . . four five-gray"
    ". . . four five-gray"
    ". . . four five-gray"
    ". . three four five-gray"
    ". . three four-gray five-gray"
    ". two three four-gray five-gray"
    ". two three-gray four-gray five-gray"
    "one two three-gray four-gray five-gray"
    "one two-gray three-gray four-gray five-gray"
    "one two-gray three-gray four-gray five-gray"
    "loan1 loan2 loan3 loan4 loan5";
    border-top: .5px gray solid;

}

.five-2 { 
  background-color: #2A6E94;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 50px;
  grid-area: five;
}

.four-2 { 
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: four; 
}

.three-2 { 
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: three; 
}

.two-2 { 
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center; 
  grid-area: two; 
}

.one-2 { 
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: one; 
}

.two-gray { 
  grid-area: two-gray; 
}

.three-gray { 
  grid-area: three-gray; 
}

.four-gray { 
  grid-area: four-gray; 
}

.five-gray { 
  grid-area: five-gray; 
}

.loan1 { 
  grid-area: loan1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loan2 { 
  grid-area: loan2;
  display: flex;
  justify-content: center;
  align-items: flex-end;   
}

.loan3 { 
  grid-area: loan3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loan4 { 
  grid-area: loan4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loan5 { 
  grid-area: loan5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
